<footer class="footer section-wrap">
  <div class="container">
    <h2 class="section-title h5">Let's Connect<span class="dash"></span></h2>
    <ul class="row">
      <li class="col-xs-12 h3">
        <a href="mailto:brianzotoole@gmail.com" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">Email</a>
      </li>
      <li class="col-xs-12 h3">
        <a href="https://www.linkedin.com/in/brianzotoole/" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">LinkedIn</a>
      </li>
      <li class="col-xs-12 h3">
        <a href="https://twitter.com/brianotoole" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">Twitter</a>
      </li>
      <li class="col-xs-12 h3">
        <a href="https://github.com/brianotoole" target="_blank" class="hvr-underline-from-left hvr-underline-from-left--is-white">Github</a>
      </li>
    </ul>
  </div>
</footer>
